In [1]:
# Import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

# Initial imports
from path import Path
from sklearn import tree
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.tree import DecisionTreeRegressor

In [2]:
df = pd.read_csv("listings.csv")
df.head(3)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,183319,https://www.airbnb.com/rooms/183319,20220909140055,2022-09-10,previous scrape,Panoramic Ocean View Venice Beach,Craftsmen style penthouse with ocean view from...,About as close to the beach as you can live in...,https://a0.muscache.com/pictures/1170205/e2596...,867995,...,5.00,5.00,5.00,NaN,f,2,2,0,0,0.02
1,51307,https://www.airbnb.com/rooms/51307,20220909140055,2022-09-10,city scrape,Spanish Bungalow Guest House LA CA. 30 plus ni...,PRIVATE GUEST HOUSE<br /><br /><b>The space</b...,"Local LA Community , shops and restaurants in...",https://a0.muscache.com/pictures/294658/ac8d6e...,235568,...,4.85,4.95,4.76,NaN,f,2,2,0,0,0.98
2,184314,https://www.airbnb.com/rooms/184314,20220909140055,2022-09-10,previous scrape,Boho Chic Flat..Steps to Beach!,"Bright, airy, quiet 1 bdr located just steps f...",You are in one of the beach locations in Los A...,https://a0.muscache.com/pictures/0bc2f8b7-9378...,884031,...,4.93,4.89,4.85,NaN,t,1,1,0,0,0.22

In [3]:
# Extract prices from df into priceDF
priceDF = df['price']
prices=[]

# Convert prices from df into float values + append 
for p in priceDF:
    p = float(p[1:].replace(',',''))
    prices.append(p)
    
# Replace the price column in the original df with the new prices
df['price'] = prices

In [4]:
#Convert NaN to 0
df.fillna(0, inplace=True)

In [5]:
df["minimum_nights"].describe()

count    45815.000000
mean        17.874081
std         30.333167
min          1.000000
25%          2.000000
50%          7.000000
75%         30.000000
max       1124.000000
Name: minimum_nights, dtype: float64

In [6]:
df["maximum_nights"].describe()

count    45815.000000
mean       579.480236
std        662.378887
min          1.000000
25%         90.000000
50%        365.000000
75%       1125.000000
max      99999.000000
Name: maximum_nights, dtype: float64

In [7]:
df["price"].describe()

count    45815.000000
mean       290.189040
std        720.187799
min          0.000000
25%         90.000000
50%        150.000000
75%        274.000000
max      30000.000000
Name: price, dtype: float64